<p id="notice"><%= notice %></p>

<h2>Places</h2>

  <div class="d-flex justify-content-around">
    <% @places.each do |place| %>
	    <div class="">
		  <div class="col-lg-3 col-sm-4">
            <div class="card hovercard text-center">
                <div class="">
                  <%= image_tag "https://maps.googleapis.com/maps/api/staticmap?zoom=12&size=400x300&markers=size:small%7Ccolor:red%7C#{place.latitude},#{place.longitude}&key=#{Rails.application.credentials.api_key_map}", class: "card-img-top" %>
                </div>
                <div class="avatar">
                    <img alt=<%=place.name%> src=<%=place.image_url%>>
                </div>
                <div class="info">
                    <div class="title">
                        <%= link_to place.name, place%>
                    </div>
                    <strong>Météo: </strong><img src="http://openweathermap.org/img/w/<%= @meteo.get_values(place.longitude, place.latitude)["weather"][0]["icon"]%>.png">
                    <span><%=(@meteo.get_values(place.longitude, place.latitude)["main"]["temp"]-273.15).round(0)%>°C, </span>
                    <span><%= @meteo.get_values(place.longitude, place.latitude)["weather"][0]["description"]%>, </span>
                    <span><%= @meteo.get_values(place.longitude, place.latitude)["main"]["description"]%></span>
                </div>
            </div>
        </div>
	</div>
</div>
    <% end %>
<br>
<%= link_to 'New Place', new_place_path %>
